/* defolt css */
* {
  margin: 0;
  padding: 0;

  font-family: "Montserrat", sans-serif;
}
ul li a {
  text-decoration: none;
  padding: 0 50px;
  color: black;
  font-size: 20px;
}
ul li {
  display: inline;
  list-style-type: none;
}

.conteiner {
  width: 1320px;
  margin: 0 auto;
}

.logo {
  padding-top: 10px;
  width: 271.55px;
  height: 50px;
}
.nav_link {
  width: 65%;
  text-align: center;
  padding-top: 25px;
}

.icon {
  width: 10%;
  padding-top: 25px;
}
ul li a:hover {
  color: blueviolet;
}

.icon a {
  padding: 0 10px;
  font-size: 20px;
}

.navbar {
  display: flex;
}

/* bannar staet */
.bannar {
  display: flex;
}

.bannar img {
  width: 1519px;
  height: 700px;
  margin-top: 20px;
  position: relative;
}
.bannar_text {
  position: absolute;
  padding-top: 200px;
  padding-left: 100px;
}
.bannar_text h1 {
  font-size: 50px;
  color: white;
}

.bannar_text p {
  font-size: 16px;
  color: rgb(242, 218, 218);
  padding-top: 20px;
}
.bannar_text button {
  margin-top: 20px;
  padding: 10px 25px;
  border-radius: 10px;
}

.bannar_text button:hover {
  background-color: blue;
}

/* companey */

.compani {
  display: flex;
}
.compani img {
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

/* bottol */
.bottol_header{ 
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
}
 .card{
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 0 10px;
 }
 .card_contin{ 
  padding: 2px 16px;
 }
 .card_bottol{
  display: flex;
  margin-top: 50px;
  margin-left: 60px; 
  text-align: center;
 }

 /* bannar2 */ 

 .bannaer-contiti {
  display: flex;
}

.bannaer_two img {
  width: 1519px; 
  margin-top: 70px;
  position: relative;
}
.bannar_text_one {
  position: absolute;  
  margin-top: 250px;
  margin-left: 150px;
}
.bannar_text_one h2 {
  font-size: 30px;
  color: white;
}

.bannar_text_one p {
  font-size: 16px;
  color: rgb(242, 218, 218);
  padding-top: 20px;
}
.bannar_text_one button {
  margin-top: 20px;
  padding: 10px 25px;
  border-radius: 10px;
}

/* card image */

.img_card{
position: relative;
}
.img_card_text{
height: 200px;
width: 430px;
background-color: aqua;
position: absolute;
transform: translate(50px, -150px);

}
.img_card_text h3{ 
padding-top: 50px;
padding-left: 10px;
}

.img_card_text p{  
padding-left: 10px;
}
.img_card_text button{ 
  margin-left: 20px;
  margin-top: 10px;
  padding: 10px; 
  background-color: black;
  color: white;
}
.img_main_card{
  display: flex;
  /* margin-left: 50px; */
  justify-content:center ;
  gap: 50px;
  margin-top: 60px;
}